n8n/evo-daily-feedback.json
{
  "name": "EVO — Feedback do Check-in (IA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evo-daily-feedback",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-fb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nconst prompt = `Usuário: ${b.nome}. Score de hoje: ${b.score}/100. Streak atual: ${b.streak} dias. Últimos scores: ${(b.historico ?? []).join(', ')}.\\n\\nEscreva UMA mensagem motivacional personalizada em português do Brasil (máx. 40 palavras, 1-2 emojis, tom de coach amigável de um app gamificado com avatar). Se o score for baixo, acolha sem julgar e dê UMA dica prática para amanhã. Se for alto, celebre a consistência. Responda SÓ com a mensagem.`;\nreturn [{ json: { prompt } }];"
      },
      "id": "code-prep-fb",
      "name": "Montar prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 150, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "http-claude-fb",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_ME", "name": "Anthropic x-api-key" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ feedback: $json.content?.[0]?.text ?? '' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "resp-fb",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Montar prompt", "type": "main", "index": 0 }]] },
    "Montar prompt": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
